.title {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #95dcdb;
}
body {
  background-color: var(--background);
}
.answerbtn {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #95dcdb;
}

.question {
  position: absolute;
  top: 100px;
  left: 600px;
  display: inline-block;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 50vw;
  width: 100%;
  flex-direction: row;
}
.texts {
  display: flex;
  flex-direction: column;
}

.buttons {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 300px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: max-content;
  width: 100%;

  display: flex;

  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px;
  background-color: #95dcdb;
}
.timebtn {
  display: flex;
  width: fit-content;
  height: 100%;
  border-radius: 10px;
  border: 1px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #95dcdb;
}

.answer {
  display: flex;
}
