body {
  background-color: #f1fafa;
}
.titles {
  display: flex;
  flex-direction: row;
}
ul {
  margin: 0px;
  padding: 0px;
}
.box {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.group {
  justify-content: space-between;
  padding: 10px;
  width: 30%;
}
button {
  width: 20vw;
  height: 12vh;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
}
